.s-hero {
    margin-top: 8rem;

    .container {
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: 40.1rem 59.6rem 20rem;
            justify-content: space-between;
            align-items: center;
            .subgrid {
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 5.5rem;

                p {
                    font-size: 18px;
                    line-height: 22px;
                }

                .artist-group {
                    display: flex;
                    align-items: flex-end;
                    gap: 1rem;
                    .info {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        .number {
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }

            h1 {
                font-weight: 700;
                font-size: 50px;
                line-height: 61px;
                .accent {
                    color: $accent;
                }
            }
        }
    }
}

.s-gallery {
    margin-top: 10rem;
    .container {
        .gallery-grid {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
            
            
            .image {
                &:nth-child(n + 5) {
                    margin-top: 2.4rem;            
                }
                img {
                    border: 0.1rem solid $white;
                
                }
            }
        }
    }
}

.s-info {
    margin-top: 1.8rem;
    border-bottom: 1px solid $text;
    .container {
        .infos {
            display: flex;
            align-items: center;
            height: 600px;


            .left {
                height: 100%;
                ul {
                    width: 100%;
                    max-width: 19.8rem;
                    padding: 10rem 6rem 0 0;
                    border-right: 1px solid $text;
                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        &:not(:first-child) {
                            margin-top: 7rem;
                        }
                        .value {
                            font-weight: 600;
                            font-size: 5rem;
                            line-height: 6.1rem;
                        }
    
                        .text {
                            font-weight: 600;
                            font-size: 2rem;
                            line-height: 2.4rem;
                            color: $text;
                        }
                    }
                }    
            }

            .right {
                display: flex;
                flex-direction: column;
                .texts {
                    margin-top: 8rem;
                    display: flex;
                    gap: 12.6rem;
                    margin-left: 7rem;

                    p {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        max-width: 75rem;
                        margin-bottom: 6.5rem;

                    }

                    .accent {
                        color: $accent;
                    }

                    a {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        text-decoration-line: underline;
                    }
                }
                .photo {
                    margin-top: 6.3rem;
                    img {
                        width: 100%; 
                    }
                }
            }
            
        }
    }
}

.s-popular {
    margin-top: 15rem;
    .container {
        h2 {
            font-weight: 700;
            font-size: 5rem;
            line-height: 6.1rem;

            .accent {
                color: $accent;
            }
        }

        .astronauts {
            margin-top: 17rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .group {
                .astronaut {
                    &:not(:first-child) {
                        margin-top: 6.3rem;
                    }

                    width: 100%;
                    max-width: 35rem;
                    .number {
                        display: flex;
                        justify-content: space-between;
                        h3 {
                            font-weight: 500;
                            font-size: 3rem;
                            line-height: 3.7rem;
                        }
                    }
                    .info {
                        margin-top: 4.4rem;
                        display: flex;
                        justify-content: space-between;
                        .name {
                            font-weight: 600;
                            font-size: 2rem;
                            line-height: 2.4rem;
                            color: $text;
                        }
                        .value {
                            font-weight: 400;
                            font-size: 2rem;
                            line-height: 2.4rem;
                            color: $accent;
                        }
                    }
                    .image {
                        margin-top: 2.6rem;
                    }
                }
            }

            .mid-border {
                height: 72rem;
                width: 0.1rem;
                background-color: $text;
            }
        }
    }
}