.s-hero {
    margin-top: 6rem;

    .container {
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: 40.1rem 59.6rem 20rem;
            justify-content: space-between;
            .subgrid {
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 5.5rem;

                p {
                    font-size: 18px;
                    line-height: 22px;
                }

                .artist-group {
                    display: flex;
                    align-items: flex-end;
                    gap: 1rem;
                    .info {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        .number {
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }

            h1 {
                font-weight: 700;
                font-size: 50px;
                line-height: 61px;
                .accent {
                    color: $accent;
                }
            }
        }
    }
}

.s-gallery {
    margin-top: 8rem;
    .container {
        .gallery-grid {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
            
            
            .image {
                &:nth-child(n + 5) {
                    margin-top: 2.4rem;            
                }
                img {
                    border: 0.1rem solid $white;
                
                }
            }
        }
    }
}