* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0E0E0E;
  background-image: url(../imgs/background.png);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .container {
    max-width: 124.8rem;
  }
}

.btn {
  background-color: #FFFFFF;
  padding: 1rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 23rem;
}
.btn span {
  color: #0E0E0E;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.card {
  width: 100%;
  max-width: 35rem;
  height: 15rem;
  background-color: #252525;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.card .image {
  padding-left: 3.2rem;
}
.card .artist-info {
  display: flex;
  flex-direction: column;
}
.card .artist-info .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.card .artist-info .photos {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FF5B50;
}

h2 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;
}
h2 .accent {
  color: #FF5B50;
}

header {
  margin-top: 5.7rem;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav ul {
  display: flex;
  gap: 60px;
}
header .container nav ul li a {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.s-hero {
  margin-top: 8rem;
}
.s-hero .container .grid {
  width: 100%;
  display: grid;
  grid-template-columns: 40.1rem 59.6rem 20rem;
  justify-content: space-between;
  align-items: center;
}
.s-hero .container .grid .subgrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5.5rem;
}
.s-hero .container .grid .subgrid p {
  font-size: 18px;
  line-height: 22px;
}
.s-hero .container .grid .subgrid .artist-group {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.s-hero .container .grid .subgrid .artist-group .info {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.s-hero .container .grid .subgrid .artist-group .info .number {
  display: block;
  font-weight: 700;
}
.s-hero .container .grid h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}
.s-hero .container .grid h1 .accent {
  color: #FF5B50;
}

.s-gallery {
  margin-top: 10rem;
}
.s-gallery .container .gallery-grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
}
.s-gallery .container .gallery-grid .image:nth-child(n+5) {
  margin-top: 2.4rem;
}
.s-gallery .container .gallery-grid .image img {
  border: 0.1rem solid #FFFFFF;
}

.s-info {
  margin-top: 1.8rem;
  border-bottom: 1px solid #5A5757;
}
.s-info .container .infos {
  display: flex;
  align-items: center;
  height: 600px;
}
.s-info .container .infos .left {
  height: 100%;
}
.s-info .container .infos .left ul {
  width: 100%;
  max-width: 19.8rem;
  padding: 10rem 6rem 0 0;
  border-right: 1px solid #5A5757;
}
.s-info .container .infos .left ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-info .container .infos .left ul li:not(:first-child) {
  margin-top: 7rem;
}
.s-info .container .infos .left ul li .value {
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.1rem;
}
.s-info .container .infos .left ul li .text {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #5A5757;
}
.s-info .container .infos .right {
  display: flex;
  flex-direction: column;
}
.s-info .container .infos .right .texts {
  margin-top: 8rem;
  display: flex;
  gap: 12.6rem;
  margin-left: 7rem;
}
.s-info .container .infos .right .texts p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  max-width: 75rem;
  margin-bottom: 6.5rem;
}
.s-info .container .infos .right .texts .accent {
  color: #FF5B50;
}
.s-info .container .infos .right .texts a {
  font-size: 1.8rem;
  line-height: 2.2rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.s-info .container .infos .right .photo {
  margin-top: 6.3rem;
}
.s-info .container .infos .right .photo img {
  width: 100%;
}

.s-popular {
  margin-top: 15rem;
}
.s-popular .container .astronauts {
  margin-top: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-popular .container .astronauts .group .astronaut {
  width: 100%;
  max-width: 35rem;
}
.s-popular .container .astronauts .group .astronaut:not(:first-child) {
  margin-top: 6.3rem;
}
.s-popular .container .astronauts .group .astronaut .number {
  display: flex;
  justify-content: space-between;
}
.s-popular .container .astronauts .group .astronaut .number h3 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
}
.s-popular .container .astronauts .group .astronaut .info {
  margin-top: 4.4rem;
  display: flex;
  justify-content: space-between;
}
.s-popular .container .astronauts .group .astronaut .info .name {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #5A5757;
}
.s-popular .container .astronauts .group .astronaut .info .value {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FF5B50;
}
.s-popular .container .astronauts .group .astronaut .image {
  margin-top: 2.6rem;
}
.s-popular .container .astronauts .mid-border {
  height: 72rem;
  width: 0.1rem;
  background-color: #5A5757;
}

.s-artists {
  margin-top: 15.1rem;
}
.s-artists .container .grid {
  margin-top: 12rem;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
}
.s-artists .container .grid .card:nth-child(n+4) {
  margin-top: 5.55rem;
}
.s-artists .container .grid .card:nth-child(2) {
  background-color: #FF5B50;
}
.s-artists .container .grid .card:nth-child(2) .artist-info .photos {
  color: #FFFFFF;
}
.s-artists .container .more-artists {
  margin-top: 6.3rem;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  font-size: 2rem;
  line-height: 2.4rem;
}/*# sourceMappingURL=main.css.map */